body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.name-color{
    color: deeppink;
    font-size: 40px;

}
p{
    color: gray;
}
.half-width img{
    width: 40%;
}
.half-width{
    float: left;
    width: 40px;
    margin-left: 8%;
    padding-left: 2%;
    
}
section{
    height: 600px;
    padding-bottom: 150px;
}